Whisper/Source/UI/Resources/DTDs/XExtensions.dtd

<?xml version = "1.0" encoding = "UTF-8"?><!ENTITY % Architecture SYSTEM "XArchitecture.dtd">%Architecture;<!-- this file defines the elements and attributes used to define extension interfaces --><!-- ****************** XBrush ****************** --><!ENTITY % DRAWMODE "(kCopyMode | kNotCopyMode | kOrMode | kNotOrMode | kXOrMode | kClearMode | kNotClearMode | kHiliteMode | kTransparentMode)"><!ENTITY % BRUSH    "(kSolidBrush | kDiagnalBrush | kCrossBrush | kHorzBrush | kVertBrush)"><!ELEMENT XBrush	 	EMPTY>						<!ATTLIST XBrush		brush 	%BRUSH;		"kSolidBrush"><!ATTLIST XBrush		mode 	%DRAWMODE;	"kCopyMode">			<!ATTLIST XBrush		color 	%COLOR;		"0.0 0.0 0.0"><!-- ****************** Pens ****************** --><!ELEMENT EnabledPen	 	EMPTY>						<!ATTLIST EnabledPen		brush 	%BRUSH;		"kSolidBrush"><!ATTLIST EnabledPen		mode 	%DRAWMODE;	"kCopyMode">			<!ATTLIST EnabledPen		color 	%COLOR;		"0.0 0.0 0.0"><!ATTLIST EnabledPen		width 	%INTEGER;	"1"><!ELEMENT DisabledPen	 	EMPTY>						<!ATTLIST DisabledPen		brush 	%BRUSH;		"kSolidBrush"><!ATTLIST DisabledPen		mode 	%DRAWMODE;	"kCopyMode">			<!ATTLIST DisabledPen		color 	%COLOR;		"0.0 0.0 0.0"><!ATTLIST DisabledPen		width 	%INTEGER;	"1"><!-- ****************** IDrawExtension ****************** --><!ELEMENT IDrawExtension	 	EMPTY>						<!ATTLIST IDrawExtension		name 			%STRING;	""><!ATTLIST IDrawExtension		indent 			%RECT;		"0 0 0 0"><!ATTLIST IDrawExtension		draw_before		%BOOL;		"false"><!-- ****************** IFillExtension ****************** --><!ELEMENT IFillExtension		(XBrush?)>						<!-- ****************** IStrokeExtension ****************** --><!ELEMENT IStrokeExtension	 	(EnabledPen?, DisabledPen?)>						